.bull {
    fill: green;
    stroke: #747373;
    stroke-width: 1px;
}

.back{
    fill: black;
    stroke: #747373;
    stroke-width: 1px;
}

.bulls_eye{
    fill: rgba(206, 45, 47, 0.9);
    stroke: #747373;
    stroke-width: 1px;
}

.throw-slot-bg {
    fill: #c2bfbf;
    filter: drop-shadow(3px 3px 6px #bebebe) drop-shadow(-3px -3px 6px #ffffff);
}

.throw-slot-text {
    font-family: "m6x11plus";
    font-size: 26px;
    fill: white;
    filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.4));
}


