.bull {
    fill: green;
    stroke: #747373;
    stroke-width: 1px;
}

.back{
    fill: black;
    stroke: #747373;
    stroke-width: 1px;
}




.bulls_eye{
    fill: rgba(206, 45, 47, 0.9);
    stroke: #747373;
    stroke-width: 1px;
}


