.part1, .part2, .part3, .part4{
    /* stroke: #747373; */
    stroke: var(--wire-gradient, url(#wireMetal));
    stroke-width: 1.4px;
    filter: url(#wireOutline);
}

.odd .part1,
.odd .part3 {
  fill: #c41e3a;

}

.even .part1,
.even .part3 {
  fill: #146b3a;
}

.even .part2,
.even .part4 {
  fill: #ede0be;
}

.odd .part2,
.odd .part4 {
  fill: #121212;
}
