.Monster .text{
    font-size: 90px;
}
.bar {
    filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.5));
}
.bar.full{
    fill: white;
}
.bar.empty{
    fill: rgba(255, 255, 255, 0.2);
}
.Monster.score .text {
    font-family: "m6x11plus";
    font-weight: normal;
    font-style: normal;
    font-size: 66px;
    fill: white;
    filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.3));
    text-anchor: middle;;
}
.aquamarine{
    --strokeColor: #2e2121;
    --bodyColor: #67cba3;
    --sparklColor: #f8d088;
}
.gold{
    --strokeColor: #2e2121;
    --bodyColor: #f8d088;
    --sparklColor: #fce6c6;
}
.blueGreen{
    --strokeColor: #2e2121;
    --bodyColor: #40bfbf;
    --sparklColor: #f8d088;
}
.red{
    --strokeColor: #2e2121;
    --bodyColor: #f25656;
    --sparklColor: #f8d088;
}
.purple{
    --strokeColor: #2e2121;
    --bodyColor: #a47aeb;
    --sparklColor: #f8d088;
}
.lightBlue{
    --strokeColor: #2e2121;
    --bodyColor: #88c8f0;
    --sparklColor: #f8d088;
}
.orange{
    --strokeColor: #2e2121;
    --bodyColor: #ff8000;
    --sparklColor: #f8d088;
}

.pink{
    --strokeColor: #2e2121;
    --bodyColor: #ff9cc6;
    --sparklColor: #fce6c6;
}

