@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'm6x11plus';
    src: url('m6x11plus.woff2') format('woff2'),
        url('m6x11plus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.dispaly_panel {
    filter: drop-shadow(5px 5px 10px #bebebe)  drop-shadow(-5px -5px 10px #ffffff);
    fill: #e0e0e0;
}
 body {
user-select: none;
background-color: #e0e0e0;
 }